
# Generated assets

assets/css/*
assets/js/theme.js
assets/js/theme.js.map
assets/cache/*

!assets/js/shims/*
!assets/cache/shims/*

# Vendors and dependencies

node_modules/
bower_components/
composer.phar
php-cs-fixer
.grunt/*


# Logs, Cache, temp and personal files


*.log

npm-debug.log.*
.sass-cache/
composer.lock


# Config

config/settings_*.json


# Translations and emails templates


# Will be ignore

# assets/img/*