@mixin search-box {
  form {
    position: relative;
    display: inline-block;
    input[type=text] {
      &:focus {
        outline: 1px $brand-primary solid;
        color: $gray-dark;
        background: white;
        + button .search {
          color: $brand-primary;
        }
      }
      border: 1px solid;
      padding: 15px 0;
      background: transparent;
      color: $gray;
    }
    button[type=submit] {
      position: absolute;
      background: none;
      border: none;
      bottom: 10px;
      right: 15px;
      color: $gray-dark;
      .search:hover {
        color: $brand-primary;
      }
      outline:none;
    }
  }
  @include media-breakpoint-up(lg) {
    form {
      input[type=text] {
        padding: 15px;
      }
    }
  }
}

@mixin cart-preview{
  .cart-preview {
    .cart-icon{
      position: relative;
      margin-top: -0.40625em;
      top: 0.203125em;
      width: 24px;
      height: 19px;
      display: inline-block;
    }
    &.inactive {
      .cart-products-count{
        color: $gray-dark;
      }
      .cart-icon{
        background-image: url(../img/cart-inactive.png);
      }
    }
    &.active {
      a {
        color: $gray-darker;
        .cart-icon{
          background-image: url(../img/cart.png);
        }
      } 
    }
    .shopping-cart {
      vertical-align: middle;
    }
    a{
      &:hover {
        color: $brand-primary;
        .cart-icon{
          background-image: url(../img/cart-active.png);
        }
      }      
    }
    .body {
      display: none;
    }
  }
}

@mixin box-shadow {
  box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
}
