.ido-top-banner,
.ido-bottom-banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .ido-banner-content{
    max-width: 56em;
    padding: 1em 2em;
    text-align: center;
    h1{
      font-size: 3.25em;
      color: #FFF!important;
      margin-left: auto;
      margin-right: auto;
      max-width: 10em;
    }
    a{
      font-weight: 900;
      color:#FFF;
      &:hover{
        color: $brand-primary;
      }
    }
    .banner-link {
      padding: 1em 2em;
      border: 1px solid;
      font-size: 105%;
      display: block;
      width: 100%;
      max-width: 20em;
      margin: 0 auto;
    }
  }
}
.ido-top-banner {
  min-height: 88vh;
  position: relative;
  h1{
    min-height: 60vh;
    padding-top: 32vh;
  }
  .scroll{
    display: block;
    width: 79%;
    position: absolute;
    bottom: 0.75em;
    .material-icons{
      font-size: 350%;
    }
  }
}
.ido-bottom-banner {
  min-height: 50vh;
  margin-top: 2em;
  h1{
    padding-top: 1.25em;
    margin-bottom: 1.5em;
  }
}

@include media-breakpoint-up(sm) {
  .ido-top-banner,
  .ido-bottom-banner {
    .ido-banner-content{
      .banner-link{
        display: inline;
      }
    }
  }
}