.page-content.page-cms {
	background: white;
	text-align: justify;
	.cms-box {
		img {
			max-width: 100%;
		}
	}
}
@include media-breakpoint-down(md) {
	#block-cmsinfo {
		padding: $medium-space $large-space;
	}
}
