.featured-products{
  margin: 1em 0 0;
}
#products,.featured-products,.product-accessories,.product-miniature  {
  display: block;
  width: 100%;
  .no-gutter{
    text-align: right;
    padding-right: 0.8125em;
  }
  .products {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(flex-start);
  }
  .product-title a {
    color: $gray;
    font-size: $font-size-sm;
    text-decoration: none;
    font-weight: 400;
  }
  .thumbnail-container {
    position: relative;
    text-align: center;
    background: white;
    &:hover {
      .highlighted-informations {
        bottom: rem(90px);
        &::after {
          opacity: 1;
        }
        &.no-variants{
          bottom: rem(70px);
        }
      }
    }
  }
  .thumbnail-banner{
    background-size:cover;
    background-position:center;
    min-height: 510px;
    text-align: center;
    color:#FFF;
    
    h1{
      font-size: 3.25em;
      display: block;
      padding: 2em 1em;
      height: 5.9875em;
      color: #fff !important;
    }
    a{
      font-size: 105%;
      color:#FFF;
      border: 1px solid;
      padding: 1em 2em;
      display: inline-block;
      margin: 0 auto;
      margin-top: 4.725em;
      font-weight: 900;
      &:hover {
        color: $brand-primary;
      }
    }
   
  }
  .products-section-title {
    margin-top: rem(6px);
    font-size: rem(32px);
    text-align: left;
    color: #222!important;
  }
  .product-title {
    text-align: center;
    text-transform: capitalize;
  }
  .product-price-and-shipping {
    color: #000;
    font-weight: 700;
    text-align: center;
  }
  .variant-links {
    background: $gray-light;
    position: relative;
    text-align: center;
    width: 100%;
    top: 0.25em;
    padding-top: rem(3px);
    min-height: rem(40px);
  }
  .highlighted-informations {
    z-index: 0;
    background: white;
    text-align: center;
    padding: rem(5px);
    transition: bottom 300ms;
    .quick-view {
      color: #000;
      font-size: 105%;
      border: 1px solid;
      padding: 1em 2em;
      margin-top: 1em;
      margin-bottom: 2em;
      display: inline-block;
      font-weight: 900;
      &:hover {
        color: $brand-primary;
      }
    }
  }

  .product-description,#product-description-short{
    z-index: 1;
    background: white;
    margin-top: 1em;
    height: 7em;
  }
  img {
    margin-left: 4px;
  }

  .product-miniature {
    margin: 0 rem(10px);
    .discount {
      display: none;
    }
    .product-flags .new,
    .online-only,
    .on-sale,
    .discount-percentage {
      display: block;
      position: absolute;
      top:rem(7px);
      padding: rem(5px) rem(7px);
      color: white;
      background: $brand-primary;
      text-transform: uppercase;
      min-width: rem(50px);
      min-height: rem(30px);
      font-size: $base-font-size;
      font-weight: 600;
      &.discount-percentage {
        z-index: 2;
        background: $brand-secondary;
      }
      &.on-sale{
        background: $brand-secondary;
        width: 100%;
        text-align: center;
        left:0;
        top:0;
      }
      &.online-only {
        font-size: $font-size-xs;
        margin-top: rem(208px);
        margin-left: rem(139px);
        &::before{
          content:"\E30A";
          font-family: 'Material Icons';
          vertical-align: middle;
          margin: rem(5px);
        }
      }
    }
  }
  .comments_note {
    text-align: center;
    color: $gray;
  }
  .regular-price {
    color: $brand-primary;
    text-decoration: line-through;
    font-size: $font-size-sm;
  }
  .count {
    color: $gray-dark;
    font-weight: 700;
    position: relative;
    bottom: rem(8px);
  }
  .all-product-link {
    color: #222;
    display: inline-block;
    margin-top: rem(17px);
    text-indent: -0.203125em;
    &:hover{
      color: $brand-primary;
    }
  }
  .search-widget {
    text-align: right;
    padding-right: 24px;
  }
}

@include media-breakpoint-up(md) {
  #products,.featured-products,.product-accessories,.product-miniature  {
    .no-gutter{
      text-align: left;
      padding-right: 0;
    }
    .all-product-link {
      text-align: left;
    }
    .product-miniature {
      &:nth-of-type(even) .thumbnail-container{
        float: right;
      }
    }
  }
}