footer h3{
  font-size: rem(32px)!important;
}
.block_newsletter {
  @include search-box;
  font-size: $font-size-sm;
  p {
    padding-top: $small-space;
  }
  form {
    .input-wrapper {
      overflow: hidden;
    }
    input[type=text] {
      padding: 11px;
      &:focus {
        border: 3px $brand-primary solid;
        padding: 8px 8px 9px;
        outline: 0;
      }
      width: 100%;
    }
    input {
      height: 42px;
    }
  }
  margin-bottom: rem(10px);
}
.block-contact {
  border-left: $gray-light 2px solid;
  padding-left: rem(48px);
  color: $gray;
  .block-contact-title{
    color:$gray-darker;
  }
}
.linklist {
  .blockcms-title a {
    color:$gray-darker;
  }
}
.account-list a {
  color: $gray;
  &:hover {
    color: $brand-primary;
  }
}
.blockcms-title,
.block-contact-title {
  font-weight: 700;
  font-size: $base-font-size;
}
.block-social {
  text-align: right;
}
.block-social li {
  height: rem(40px);
  width: rem(40px);
  background-color: $gray-light;
  background-repeat: no-repeat;
  display: inline-block;
  margin: rem(2px);
  cursor: pointer;
  &:hover {
    background-color: $brand-primary;
  }
  a {
    display: block;
    height: 100%;
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
    &:hover {
      color: transparent;
    }
  }
}
.facebook {
  background-image: url(../img/facebook.svg);
  &::before{
    content:"";
    background-image: url(../img/facebook-blue.svg);
  }
  &.icon-gray {
    background-image: url(../img/facebook-gray.svg);
    &:hover {
      background-image: url(../img/facebook-blue.svg);
    }
  }
}
.twitter {
  background-image: url(../img/twitter.svg);
  &::before{
    content:"";
    background-image: url(../img/twitter-blue.svg);
  }
  &.icon-gray {
    background-image: url(../img/twitter-gray.svg);
    &:hover {
      background-image: url(../img/twitter-blue.svg);
    }
  }
}
.rss {
  background-image: url(../img/rss.svg);
}
.youtube {
  background-image: url(../img/youtube.svg);
}
.googleplus {
  background-image: url(../img/gplus.svg);
  &::before{
    content:"";
    background-image: url(../img/gplus-blue.svg);
  }
  &.icon-gray {
    background-image: url(../img/gplus-gray.svg);
    &:hover {
      background-image: url(../img/gplus-blue.svg);
    }
  }
}
#block_myaccount_infos{
  color: $gray-dark;
  .myaccount-title a{
    color:$gray-darker;
  }
}
.pinterest {
  background-image: url(../img/pinterest.svg);
  &::before{
    content:"";
    background-image: url(../img/pinterest-blue.svg);
  }
  &.icon-gray {
    background-image: url(../img/pinterest-gray.svg);
    &:hover {
      background-image: url(../img/pinterest-blue.svg);
    }
  }
}
.vimeo {
  background-image: url(../img/vimeo.svg);
}
.instagram {
  background-image: url(../img/instagram.svg);
}
.footer-container {
  background: $gray;
  margin-top: $medium-space;
  padding-top: 3em;
  padding-bottom: 2em;
  overflow: hidden;
  text-align: center;
  li {
    margin-bottom: rem(5px);
  }
  li a {
    color: $gray-dark;
    cursor: pointer;
    &:hover {
      color: $brand-primary;
    }
    &:before {
      content: ">";
    }
  }
  .links {
    .collapse {
      display: inherit;
    }
  }
}
.footer-after {
  padding: $medium-space 0;
  background: $gray-lighter;
}

@include media-breakpoint-down(sm) {
  .block_newsletter {
    padding-bottom: rem(10px);
    border-bottom: 1px solid $gray-lighter;
  }
  .footer-container {
    box-shadow: none;
    margin-top: 0;
    .wrapper {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .links {
      .h3 {
        line-height: 1.5;
        font-size: rem(16px);
      }
      .title {
        padding: rem(10px);
        border-bottom: 1px solid $gray-lighter;
        cursor: pointer;
        .collapse-icons .remove {
          display: none;
        }
      }
      .title[aria-expanded="true"] .collapse-icons {
        .add {
          display: none;
        }
        .remove {
          display: block;
        }
      }
      .navbar-toggler {
        display: inline-block;
        padding: 0;
      }
      .collapse {
        display: none;
        &.in {
          display: block;
        }
      }
      ul {
        background-color: $gray-lighter;
        margin-bottom: 0;
        > li {
          padding: rem(10px);
          border-bottom: 1px solid white;
          font-weight: bold;
          a {
            color: $gray-darker;
          }
        }
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .block-social {
    text-align: center;
  }
  .block-contact {
    padding-left: rem(24px);
  }
}
