
.forgotten-password {
  padding: 4px;

  .form-fields {

    .center-email-fields {
      display: flex;
      justify-content: center;
    }

    .email {
      padding-left: 0;
      padding-right: 0;

      input {
        height: 38px;
        margin-bottom: 0.8125em;
      }

      .form-control-submit{
        margin: 1.625em auto;
      }
    }

  }
}

.send-renew-password-link {
  padding-left: 10px;
  padding-right: 10px;
}
